html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  background-color: #f6f7f8;
  @media (min-width: 40rem) {
    font-size: 100%;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  height: 100%;
}
#root {
  width: 100%;
  height: 100%;
}
button {
  cursor: pointer;
}
button:disabled {
  cursor: default;
}
